.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px dodgerblue;
}
.heading_div{
    float: none;
    background: deeppink;
    padding: 10px;
    border-radius: 20px;
    color: indigo;
    box-shadow: 5px 5px 5px black;
}
.heading_div2{
    font-size: 18px;
}
.result_para_tag{
    box-shadow: 5px 5px 5px greenyellow;
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
    color: mediumblue;
    bottom: 0;
    width: 100%;
    background-color: orangered;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid fuchsia;
    border-radius: 5px 5px 5px white;
    margin-top: 165px;
}